<!DOCTYPE html>
<html layout:decorate="~{shared/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Home</title>

</head>

<body>

    <div layout:fragment="content">
        <div th:include="Homepage/canvas.html" th:with="modelId='body.gltf,brain/brain.gltf,heart/heart.gltf'"></div>
    </div>

    <th:block layout:fragment="script">
        <script>
            console.log("Home Page");
        </script>
    </th:block>

</body>

</html>