<!-- <aside id="part-description" class="control-sidebar control-sidebar-light">
  <div class="p-3">
    <h5>Title</h5>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, deserunt suscipit ex debitis error tenetur
      cumque laborum nam? Ipsa ducimus quod delectus rem aspernatur vel error. Assumenda ipsa dolor iure!
    </div>
  </div>
</aside> -->


<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="part-description"
  aria-labelledby="offcanvasScrollingLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Offcanvas with body scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>
  </div>
</div>